# Drizzle
# Direct (IPv6)
# DATABASE_URL=""
# Pooler (IPv4)
DATABASE_URL=""

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
OPAQUE_SERVER_KEY=

PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=

SUPABASE_SECRET_KEY=""

PUBLIC_MAX_RECIPIENTS = 